/Modulo_03/Unidad_02/practicando express/node_modules
/Modulo_03/Unidad_03/sitio web/node_modules
/Modulo_03/Unidad_04/sesiones y middleware/node_modules
/Modulo_04/Unidad_03/node_modules
/Modulo_04/Unidad_04/node_modules